@namespace DayMail.Components
@using DayMail.Shared.Models
@if (Show)
{
    <div class="context-menu" style="position:absolute; top:100px; left:100px;">
        <ul>
            <li @onclick="@(() => OnAction.InvokeAsync("edit"))">Editar</li>
            <li @onclick="@(() => OnAction.InvokeAsync("link"))">Agregar enlace</li>
            <li @onclick="@(() => OnAction.InvokeAsync("delete"))">Eliminar</li>
        </ul>
    </div>
}

@code {
    [Parameter] public bool Show { get; set; }
    [Parameter] public TemplateElement? Target { get; set; }
    [Parameter] public EventCallback<string> OnAction { get; set; }
}
